pandas 
numpy
matplotlib
undetected_chromedriver
sqlalchemy
mysql-connector-python
python-dotenv
pyyaml
python-telegram-bot
psutil
setuptools
deap
category-encoders
nltk
spacy
stop-words
transformers
mlflow
sentencepiece
torch